@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: Inter;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #5e0d18;
}

#emp-id {
    position: relative;
    width: 60rem;
    height: 30rem;
    background: white;
    border-radius: 1rem;
}

#logo-name{
    position: relative;
    display: flex;
    align-items: center;
}

#kfc-logo {
    width: 4rem;
    padding: 1rem;
}

#comp-name {
    font-weight: 700;
}

#three-bars {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
    gap: 1rem;
}

.bars {
    width: 3rem;
    height: 4rem;
    background-color: #A3080C;
}

#img-det {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#lbj-img {
    width: 18rem;
}

#details {
    margin-left: 3rem;
}

.num-rol {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 0.5;
}

#front-sig {
    position: absolute;
    bottom: 0.5rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lbj-sig {
    width: 8rem;
}

#sig-line {
    width: 14rem;
    height: 0.1rem;
    background-color: black;
}

#front-sig p {
    line-height: 0;
}