@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Inter;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(imgs/bg-gradient.svg);
    background-size: cover;
}

.id-wrapper {
    perspective: 75rem;
}

.id-card {
    position: relative;
    width: 60rem;
    height: 30rem;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    box-shadow:
    0 1.5rem 3.75rem rgba(0,0,0,0.35),
    0 0.3rem 1rem rgba(0,0,0,0.2);
}

.id-card.flipped {
    transform: rotateY(180deg);
}

.id-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.id-face.back {
    transform: rotateY(180deg);
    background: #f5f5f5;
    border-radius: 1rem;
}

.emp-id {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 1rem;
}

.logo-name{
    position: relative;
    display: flex;
    align-items: center;
}

.kfc-logo {
    width: 4rem;
    padding: 1rem;
}

.comp-name {
    font-weight: 700;
}

.three-bars {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
    gap: 1rem;
}

.bars {
    width: 3rem;
    height: 4rem;
    background-color: #A3080C;
}

#img-det {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#lbj-img {
    width: 18rem;
}

#details {
    margin-left: 3rem;
}

.num-rol {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 0.5;
}

#front-sig {
    position: absolute;
    bottom: 0.5rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lbj-sig {
    width: 8rem;
}

.sig-line {
    width: 14rem;
    height: 0.1rem;
    background-color: black;
}

#front-sig p {
    line-height: 0;
}

#terms-emer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#tnc {
    margin-right: 8rem;
}

#tnc h5 {
    margin-bottom: 0.3rem;
}

#tnc ul {
    margin-top: 0;
    padding-left: 1.2rem;
}

#tnc li {
    font-size: 0.7rem;
    margin-left: -0.5rem;
}

#emer {
    font-weight: 700;
    margin-left: -4rem;
}

#emer h3 {
    font-size: 1.4rem;
}

#emer p {
    font-size: 1.2rem;
    line-height: 0.8rem;
}

#bsig-date {
    display: flex;
}

#back-sig {
    position: absolute;
    bottom: 2rem;
    left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mj-sig {
    width: 14rem;
}

#back-sig p {
    line-height: 0;
    font-size: 0.7rem;
}

#date-ie {
    font-size: 0.8rem;
    position: absolute;
    bottom: 2rem;
    right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#flip-btn {
  margin-top: 2rem;
  padding: 0.9rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;

  background: white;
  color: #5e0d18;
  border: none;
  border-radius: 60rem;
  cursor: pointer;

  box-shadow: 0 0.7rem 1rem rgba(0,0,0,0.25);
  transition: all 0.25s ease;
}

#flip-btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.35);
}

#flip-btn:active {
  transform: translateY(0);
}

@media (min-width: 1px) and (max-width: 767px) {
    .id-card {
        width: 21rem;
        height: 38rem;
    }

    #img-det {
        position: static;
        transform: none;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0;
        height: auto;
    }

    #img-det h1 {
        font-size: 1.5rem;
    }

    .loc {
        font-size: 0.8rem;
    }

    #lbj-img {
        width: 14rem;
    }
    

    #details {
        margin-left: 0;
        text-align: center;
    }

    .num-rol {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 0.5;
    }

    .logo-name {
        justify-content: center;
    }

    .comp-name {
        font-weight: 700;
        margin-top: 4rem;
    }

    .kfc-logo {
        width: 4rem;
        padding: 1rem;
        margin-top: 4rem;
    }

    .three-bars {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        display: flex;
        gap: 1rem;
    }

    .bars {
        width: 3rem;
        height: 4rem;
        background-color: #A3080C;
    }

    #terms-emer {
        margin-top: 0;
        flex-direction: column;
        gap: 0;
    }

    #front-sig {
        position: absolute;
        bottom: 0.5rem;

        left: 50%;
        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #tnc {
        margin-right: 0;        
    }

    #tnc h5 {
        margin-bottom: 0.3rem;
        margin-left: 0.5rem;
    }

    #tnc ul {
        margin-top: 0;
        padding-left: 1.2rem;
    }

    #tnc li {
        font-size: 0.5rem;
        margin-left: -0.5rem;
    }

    #emer {
        margin-left: 0;         
        text-align: center;     
    }

    #emer h3 {
        font-size: 1.1rem;
    }

    #emer p {
        font-size: 1rem;
        line-height: 0.5rem;
    }

    #bsig-date {
        flex-direction: column; 
    }

    #back-sig {
        left: 50%;              
        transform: translateX(-50%);
        bottom: 4.5rem;         
    }

    #mj-sig {
        width: 10rem;
    }

    .sig-line {
        width: 11rem;
    }

    #back-sig p {
        line-height: 0;
        font-size: 0.5rem;
    }

    #date-ie {
        font-size: 0.5rem;
        right: auto;            
        left: 50%;              
        transform: translateX(-50%);
        bottom: 1rem;         
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .id-card {
        width: 45rem;
        height: 24rem;
    }

    .kfc-logo {
        width: 3.2rem;
        padding: 0.8rem;
    }

    .comp-name {
        font-size: 1.3rem;
    }

    .bars {
        width: 2.4rem;
        height: 3.2rem;
    }

    #img-det {
        left: 2rem;
        gap: 3rem;
    }

    #lbj-img {
        width: 14rem;
    }

    #details {
        margin-left: 2rem;
    }

    #details h1 {
        font-size: 1.6rem;
    }

    .num-rol {
        font-size: 1.2rem;
    }

    #loc {
        font-size: 0.9rem;
    }

    #front-sig {
        right: 1.5rem;
    }

    #lbj-sig {
        width: 6.5rem;
    }

    .sig-line {
        width: 11rem;
    }

    #terms-emer {
        gap: 1rem;
    }

    #tnc {
        margin-right: 4rem;
    }

    #tnc li {
        font-size: 0.6rem;
    }

    #emer h3 {
        font-size: 1.2rem;
    }

    #emer p {
        font-size: 1rem;
    }

    #back-sig {
        left: 4rem;
    }

    #mj-sig {
        width: 11rem;
    }

    #date-ie {
        font-size: 0.7rem;
        right: 6rem;
    }
}